{{define "base"}}
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/whoami.css">
		<title>{{template "title" .}}</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">WhoAmI</a>
			<div class="navbar-nav">
				<a class="nav-link active" href="/cpustress">CPU Stress</a>
				<a class="nav-link" href="/memstress">Mem Stress</a>
				<a class="nav-link" href="/captainkube">Captain Kube</a>
				<a class="nav-link" href="/goldie">Goldie</a>
				<a class="nav-link" href="/phippy">Phippy</a>
				<a class="nav-link" href="/zee">Zee</a>
			</div>
		</nav>
		<main class="container mb-4">
			{{template "main" .}}
		</main>
	</body>
</html>
{{end}}
