{{template "base" .}}

{{define "title"}}{{- .Title -}}{{end}}

{{define "main"}}
	<section class="card m-2">
		<h5 class="card-header">{{- .Title -}}</h5>
		<div class="card-body">
		<ul class="list-group-flush p-0">
		{{range $index, $curr := .Stats}}
		{{$load := $curr.Load | printf "%.0f"}}
			<li class="list-group-item d-flex justify-content-between flex-column p-4">
				<div class="d-flex justify-content-between"><h5>{{$curr.Name}}</h5><p class="badge badge-primary badge-pill">CPU #{{$index}}</p></div>
				<div class="progress" style="height: 3em;">
					<div
						id="slider-cpu-{{$index}}"
						class="progress-bar bg-success slider-cpu"
						role="progressbar"
						style="width: {{$load}}%; font-size: 1.6em;"
						aria-valuenow="{{$load}}"
						aria-valuemin="0"
						aria-valuemax="100">{{$load}}%</div>
				</div>
			</li>
		{{end}}
		</ul>
		</div>
	</section>
	<div class="d-flex justify-content-center m-4">
		<form class="form-inline">
			<p class="my-1 mr-2">Stress for</p>
			<input class="form-control mr-sm-2" type="number" id="magnitude" name="magnitude" min="1" placeholder="Number" required>
			<select class="custom-select my-1 mr-sm-2" id="unit" name="unit">
				<option value="s" selected>Seconds</option>
				<option value="m">Minutes</option>
				<option value="h">Hours</option>
			</select>
			<button id="start-button" type="submit" class="btn btn-primary my-1">Start</button>
		</form>
	</div>
	<script src="/static/js/cpustress.js" type="text/javascript"></script>
{{end}}
