{{template "base" .}}

{{define "title"}}{{- .Title -}}{{end}}

{{define "main"}}
<div class="d-flex justify-content-center">
	<img class="border mt-4" src="/static/images/{{.Filename}}" alt="{{.AltText}}">
</div>
{{template "whoami" .Info}}
{{template "request" .Request}}

{{end}}
