{{template "base" .}}

{{define "title"}}{{- .Title -}}{{end}}

{{define "main"}}
<img class="border mt-4" src="/static/images/{{.Filename}}" alt="{{.AltText}}">
{{template "whoami" .Info}}
{{template "request" .Request}}

{{end}}
