{{template "base" .}}

{{define "title"}}{{- .Title -}}{{end}}

{{define "main"}}
	{{$percentageUsed := .Stats.PercentageUsed | printf "%.0f"}}
	<section class="card mt-2">
		<h5 class="card-header">{{- .Title -}}</h5>
		<div class="card-body">
			<div class="progress" style="height: 3em;">
				<div
					id="slider-memory"
					class="progress-bar bg-success slider-cpu"
					role="progressbar"
					style="width: {{$percentageUsed}}%; font-size: 1.6em;"
					aria-valuenow="{{$percentageUsed}}"
					aria-valuemin="0"
					aria-valuemax="100">{{.Stats.UsedMemory}}/{{.Stats.TotalMemory}}</div>
			</div>
		</div>
	</section>
	<div class="d-flex justify-content-center m-4">
		<form class="form-inline">
			<p class="my-1 mr-2">Stress for</p>
			<input class="form-control mr-sm-2" type="number" id="magnitude" name="magnitude" min="1" placeholder="Number" required>
			<select class="custom-select my-1 mr-sm-2" id="unit" name="unit">
				<option value="s" selected>Seconds</option>
				<option value="m">Minutes</option>
				<option value="h">Hours</option>
			</select>
			<button id="start-button" type="submit" class="btn btn-primary my-1">Start</button>
		</form>
	</div>
	<script src="/static/js/memstress.js" type="text/javascript"></script>
{{end}}
