{{define "main"}}
<div class="mt-4">
	<div class="row">
		<div class="col-12 mb-3">
			<div class="card shadow-sm border-0 text-center py-5">
				<div class="card-body">
					<h1 class="display-1 font-weight-bold text-primary">{{.Code}}</h1>
					<p class="lead text-muted">{{.Text}}</p>
					<hr>
					<p>Try: <code>/status?code=200</code> <code>/status?code=404</code> <code>/status?code=503</code></p>
				</div>
			</div>
		</div>
	</div>
	{{template "labinfo" .}}
</div>
{{end}}
