{{define "whoami"}}
<dl>
	<section class="card mt-2">
		<h5 class="card-header"><dt class="font-weight-normal">Hostname</dt></h5>
		<dd class="card-body"><p class="card-text text-monospace">{{- .Hostname -}}</p></dd>
	</section>
	<section class="card mt-2">
		<h5 class="card-header">Interfaces</h5>
		<ul class="list-group">
		{{range $interface, $addresses := .Addresses}}
			{{range $address := $addresses}}
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<dd class="text-monospace">{{ $address }}</dd>
					<dt class="badge badge-primary badge-pill">{{ $interface }}</dt>
				</li>
			{{end}}
		{{end}}
		</ul>
	</section>
</dl>
{{end}}
