{{define "whoami"}}
<dl>
	<dt>Hostname</dt>
	<dd>{{- .Hostname -}}</dd>
	{{range $interface, $addresses := .Addresses}}
		{{range $address := $addresses}}
			<dt>{{ $interface }}</dt>
			<dd>{{ $address }}</dd>
		{{end}}
	{{end}}
</dl>
{{end}}
