/* Make number input appear as a normal text field */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

#desotech-logo {
	max-width: 3em;
}

#unsupported-platform-alert {
	margin: 16px;
}

#github-ribbon:before {
	background-color: #090;
}
